<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOURTRY.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2BB8205719F3B032EBD1F06384A59705375B0A0C</string>
				<key>dateExpires</key>
				<string>2021/9/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BB8205719F3B032EBD1F06384A59705375B0A0C</string>
						<key>dateExpires</key>
						<string>2021/9/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>27A282F54N.com.iqiyi.rainbow.NotificationSerivce</string>
						<key>com.apple.developer.team-identifier</key>
						<string>27A282F54N</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.iqiyi.rainbow</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NotificationSerivce.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>1eff4228-3773-4c49-8368-8c9bb7abc47a</string>
						<key>name</key>
						<string>Rainbow_Adhoc_NotificationSerivce</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>27A282F54N</string>
						<key>name</key>
						<string>Beijing Qiyi Century Science &amp; Technology Co.,LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BB8205719F3B032EBD1F06384A59705375B0A0C</string>
						<key>dateExpires</key>
						<string>2021/9/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSInjection_Device.bundle</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>27A282F54N</string>
						<key>name</key>
						<string>Beijing Qiyi Century Science &amp; Technology Co.,LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>E4296KK4NL.com.iqiyi.rainbow</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:mall.iqiyi.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>27A282F54N</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.iqiyi.rainbow</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>E4296KK4NL.com.qiyi.iphone</string>
					<string>E4296KK4NL.com.baidu.shareLoginAccount</string>
					<string>E4296KK4NL.com.qiyi.video.lite</string>
					<string>E4296KK4NL.com.pps.test</string>
					<string>E4296KK4NL.com.iqiyi.reader</string>
					<string>E4296KK4NL.com.iqiyi.child</string>
					<string>E4296KK4NL.com.iqiyi.jiandan</string>
					<string>E4296KK4NL.com.iqiyi.acg</string>
					<string>E4296KK4NL.com.iqiyi.comic</string>
					<string>E4296KK4NL.com.qiyi.QYPaoPao</string>
					<string>E4296KK4NL.com.iqiyi.fanfan</string>
					<string>E4296KK4NL.com.iqiyi.showtools</string>
					<string>E4296KK4NL.com.iqiyi.qixiu</string>
					<string>E4296KK4NL.com.iqiyi.ivrcinema.cb</string>
					<string>E4296KK4NL.com.tvguo.tvguo</string>
					<string>E4296KK4NL.com.qiyi.testDemo</string>
					<string>E4296KK4NL.com.iqiyi.rainbow</string>
					<string>E4296KK4NL.com.iqiyi.disneyknow</string>
				</array>
			</dict>
			<key>name</key>
			<string>FOURTRY.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2e45a9a1-b1da-4c41-a663-715db0eab63c</string>
				<key>name</key>
				<string>Rainbow_Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>27A282F54N</string>
				<key>name</key>
				<string>Beijing Qiyi Century Science &amp; Technology Co.,LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
